extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main
  .container.my-3
    .row
      .col-12
        div(class="alert alert-success") Congratulations on your successful order! Your order code is <b>#{order.code}</b>.


    .row
      .col-12
        +box-head("Customer Information")

        table(class="table table-bordered")
          tbody
            tr
              td Full Name
              td #{order.fullName}
            tr
              td Phone
              td #{order.phone}
            tr
              td Notes
              td #{order.note}
            tr
              td Booking date
              td #{order.createdAt}


    .row
      .col-12
        +box-head("List tour")

        table(class="table table-bordered")
          thead
            tr
              th #
              th Image
              th Title
              th Price
              th Quantity
              th Total
          tbody
            each item, index in ordersItem
              tr
                td #{index + 1}
                td
                  img(src=item.image, alt=item.title width="80px")
                td
                  a(href=`/tours/detail/${item.slug}`) #{item.title}
                td #{item.price_special.toLocaleString()}đ
                td #{item.quantity}
                td #{item.total.toLocaleString()}đ
        
        h5(class="text-right mb-4") Total: #{order.total_price.toLocaleString()}đ